<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.seveneow.simplechat"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".SimpleChatApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.ChatActivity">
        </activity>

        <service android:name=".service.IMFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".service.IMFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".service.SaveMessageService"
            android:enabled="true"/>

        <service
            android:name=".service.SendMessagesService"
            android:enabled="true"/>

        <service
            android:name=".service.GetDBMessageListService"
            android:enabled="true"/>

        <service
            android:name=".service.GetServerMessageListService"
            android:enabled="true"/>

        <service
            android:name=".service.GetDBRoomListService"
            android:enabled="true"/>

        <service
            android:name=".service.SaveRoomService"
            android:enabled="true"/>

        <service
            android:name=".service.GetServerRoomListService"
            android:enabled="true"/>

        <service
            android:name=".service.HandleNewMessageService"
            android:enabled="true"/>
    </application>

</manifest>